body, html {
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

@media(min-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 992px){
    .container {
        width: 900px;
    }
}

@media (max-width: 991px){
    .col-md-4 {
        text-align: center;
        margin-bottom: 30px !important;
    }
}

.container {
    -webkit-transition: all 1s ease;
}

.navbar {
    margin-bottom: 0px;
}

.carousel-inner .item {
    background: no-repeat center center;
    background-size: cover;
    height:540px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.ericpol-header {
    background-color: #205081;
    border-bottom:0px solid #2e3d54 !important;
}

.ericpol-header .navbar-brand {
    color:white;
    padding: 5px 0px;
    padding-left: 15px;
    height:60px !important;
}

.ericpol-header .navbar-brand img{
    height:50px !important;
}

.ericpol-header-active {
    background-color: #3572b0 !important;
}

.ericpol-header-active a {
    color:rgba(255,255,255,0.7) !important;
}

.nav.navbar-nav.navbar-right li {
    color:white !important;
    padding: 5px 0px;
}

.nav.navbar-nav.navbar-right li:hover {
    color:white !important;
    padding: 5px 0px;
    background-color: #1b3c64;
}

.nav.navbar-nav.navbar-right li > a {
    color:white !important;
}

.ericpol-header-menu-button {
    background-color: #205081;
    border:0px solid rgba(0,0,0,0.1)!important;
    color:white;
    text-decoration: none;
}

.ericpol-header-menu-button:hover {
    background-color: #3572b0 !important;
    cursor: pointer;
}

.ericpol-header-menu-button > img {
    height:26px;
}

.ericpol-footer {
    border-top:1px solid rgba(0,0,0,0.15);
    color:rgba(0,0,0,0.6);
}

.container.ericpol-footer > div {
    height:100px;
    padding:14px 0px;
}

.container.ericpol-footer > div > .title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.container.ericpol-footer > div > ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.container.ericpol-footer img {
    height:50px;
}

.container.ericpol-footer > div > a {
    text-decoration: none;
    color:rgba(0,0,0,0.4);
}

.container.ericpol-footer > div > a > img {
    opacity: 0.25;
    height:16px !important;
    margin-top: -3px;
    margin-right: 3px;
}

.container.ericpol-footer > div > a:hover {
    color:rgba(0,0,0,0.5);
}

.container.ericpol-footer > div > a:hover > img {
    opacity: 0.35;
}

